/*just the logic, no style here*/
.drop-down li{float:left;}
.drop-down li  ul li{clear: both;}
.drop-down li  ul{display:none;}
.drop-down li:hover  ul{display:block;}
.drop-down li:hover  ul li ul{display: none; }
.drop-down li:hover  ul li:hover ul{display:inline-block; }
.drop-down li:hover  ul li:hover ul li ul{display: none; }
.drop-down li:hover  ul li:hover ul li:hover ul{display:inline-block; }
